master:
  count: 1
  persistence:
    size: 4Gi
  resources:
    limits:
      cpu: 250m
      memory: 2Gi
    requests:
      cpu: 125m
      memory: 1Gi

replica:
  replicaCount: 1
  persistence:
    size: 4Gi
  resources:
    limits:
      cpu: 250m
      memory: 2Gi
    requests:
      cpu: 125m
      memory: 1Gi

sentinel:
  enabled: false
