base-service:
  global:
    environment: dev
    imageTag: dev

  replicaCount: 2

  autoscaling:
    enabled: false

  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi

  ingress:
    hosts:
      - host: api-dev.pss-nano.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: api-gateway-dev-tls
        hosts:
          - api-dev.pss-nano.com

  configMap:
    data:
      NODE_ENV: development
      LOG_LEVEL: debug
