base-service:
  global:
    environment: prod
    imageTag: latest

  replicaCount: 5

  autoscaling:
    enabled: true
    minReplicas: 5
    maxReplicas: 15

  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi

  podDisruptionBudget:
    enabled: true
    minAvailable: 3

  ingress:
    annotations:
      nginx.ingress.kubernetes.io/rate-limit: "200"
    hosts:
      - host: api.pss-nano.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: api-gateway-prod-tls
        hosts:
          - api.pss-nano.com

  configMap:
    data:
      NODE_ENV: production
      LOG_LEVEL: warn
      RATE_LIMIT_MAX_REQUESTS: "200"
